KAFKA_BOOTSTRAP_SERVERS=kafka-broker-1:29092,kafka-broker-2:29092,kafka-broker-3:29092
KAFKA_HOST_IP=kafka_cluster_deployed_host_ip
MESSAGES_TOPIC=messages
BLOCKED_USERS_TOPIC=blocked_users
FORBIDDEN_WORDS_ACTIONS_TOPIC=forbidden_words_action
